{% extends 'base.html' %}
{% load static %}
{% block title %}
    Perfil
{% endblock %}

{% block content %}
    <div class="profile-infos profile-infos-container">
        <h1>Perfil</h1>
        <p>{{ profile }}</p>
        <p>{{ profile.bio }}</p>
        <a href="{{ profile.github }}" >
            <img src="{% static 'img/github-icon-branco.png' %}" alt="GitHub" class="profile-infos-image">
        </a>
        <a href="{{ profile.linkedin }}" >
            <img src="{% static 'img/linkedin-icon-circular.png' %}" alt="Linkedin" class="profile-infos-image">
        </a>
    </div>
    <h2>Projetos</h2>
    <ul>
        {% for project in profile.projects.all %}
            <li>{{ project.name }}</li>
            <li>{{ project.keyword }}</li>
            <li>{{ project.key_skill }}</li>
        {% endfor %}
    </ul>
    <h2>Certificados</h2>
    <ul>
        {% for certificate in profile.certificates.all %}
            <li>{{ certificate.name }}</li>
            <li>{{ certificate.certifying_institution }}</li>
        {% endfor %}
{% endblock %}